.supervisor-spending-page-container{
    width: 80%;
    position: relative;
    left: 300px;
    top: 100px;
    text-align: center;
}

.supervisor-spending-page-upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.supervisor-spending-page-upper strong{
    font-size: larger;
}
