.supervisor-spending-page-container{
    width: 80%;
    position: relative;
    left: 300px;
    top: 100px;
    text-align: center;
    padding-bottom: 5rem;
}

.supervisor-spending-page-upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.supervisor-spending-page-upper strong{
    font-size: larger;
}

.supervisor-spending-main{
    background-color: rgba(47, 241, 255, 0.116);
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
}