.company-card-container{
    width: 250px;
    height: 250px;
    border: 1px solid #33333325;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    overflow: hidden;
    cursor: pointer;
}
.company-card-img-div{
    border-radius: 100%;
}
.company-card-img-div img{
    width: 125px;
    height: 125px;
    border-radius: 100%;
}
.company-card-container h5{
    max-width: 100%;
    word-wrap: break-word;
    text-align: center;
}