.personnel-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.5rem 2.5rem 0.5rem 2.5rem;
    animation: fadeIn 0.75s ease-out forwards;
    height: 1080px;
  }
  
  .personnel-page-main{
    width: 70%;
    position: relative;
    left: 120px;
    background-color: rgba(47, 241, 255, 0.116);
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
  }
  
  .personnel-page-main-section > h1:first-child {
    padding-top: 0.5rem;
  }
  
  .personnel-page-main-section > h1:first-child, h4 {
    text-align: center;
  }
  
  .personnel-page-main-section > h4 {
    margin-bottom: 0.5rem;
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
  .personnel-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    width: 80%;
    position: relative;
    left: 120px;
    margin-top: 2rem;
    background-color: rgba(172, 255, 47, 0.116);
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
    align-items: center;
  }
  
  .personnel-photo {
    display: flex;
    width: 300px;
    height: 300px;
    flex-direction: column;
    
    margin-left: 5px;
    margin-right: 5px;
    }
  
  .personnel-photo > img {
    
    max-width: 100%;
    max-height: 100%;
    min-width: 90%;
    min-height: 90%;
    width: auto;
    height: auto;
    border-radius: 2rem;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
  }
  
  
  .personnel-info {
    margin-left: 20px;
    width: 350px;
    position: relative;
    padding-top: 0.5rem;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .personnel-info > p{
    padding-bottom: 1rem;
  }
  
  .btn-container{
    display: flex;
    gap: 5px;
  }
  .edit-info-button, .add-comment-button{
    width: 150px;
    height: 50px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
  }
  
  .edit-info-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Arkaplanı bulanıklaştırmak için renk ve opaklık */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .edit-info-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  .add-comment-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Arkaplanı bulanıklaştırmak için renk ve opaklık */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-comment-content{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  /* .personnel-info {
    width: 80%;
  } */
  
  /* .personel-info,
  .company-info,
  .personel-photo {
    width: 80%;
  }
  
  .personel-info,
  .company-info {
    background-color: #6a6969;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .personel-info h2,
  .company-info h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .personel-info p,
  .company-info p {
    margin-bottom: 5px;
  }
  
  .personel-photo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .personel-photo img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  } */
  
.holiday-day {
  text-decoration: line-through;
  text-decoration-color: red;
}

.personnel-company-info-container{
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #007bff62;
}

.personnel-company-img-and-company-name{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.personnel-company-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personnel-company-img-and-company-name img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.personnel-hrinfo-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 10px;
  gap: 10px;
}
