.company-page-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    border: 1px solid #33333325;
    border-radius: 8px;
    position: relative;
    width: 80%;
}
.company-infos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.company-img-div{
    width: 30%;
    margin-left: 60px;
}
.company-img-div img{
    width: 100%;
    border-radius: 100%;
}
.company-infos-texts{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.company-infos-texts p {
    overflow-wrap: break-word;
    white-space: normal;
}

/********************************************************/

.main-div{
    display: flex;
    gap: 15px;
}
.main-infos{
    display: flex;
    width: 600px;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
}
.hr-info{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(172, 255, 47, 0.082);
}
.hr-info h2{
    padding: 3px 25px;
    border: 2px solid black;
}


/******************/

.personnel-info{
    width: 100%;
}
.comment-info{
    width: 100%;
    
}

.close-button {
    position: absolute;
    right: 90px;
    top: 80px;
    padding: 8px 16px;
    background-color: #f44336; /* Kapatma butonunun arka plan rengi */
    color: white; /* Yazı rengi */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .close-button:hover {
    background-color: #d32f2f; /* Hover efekti */
  }
  .hrinfo-texts{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
  .hrinfo-texts p{
    font-weight: 600;
    font-size: 17px;
  }
  .hrinfo-texts p span{
    font-weight: 400;
  }