.comment-card-container-personnel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(43, 153, 226, 0.048);
    position: relative;
    border: 1px solid #33333325;
    border-radius: 6px;
}
.comment-card-container-personnel-second{
    display: flex;
    gap: 15px;
}
.comment-card-img-div-personnel{
    width: 75px;
    flex-shrink: 0;
}
.comment-card-img-div-personnel img{
    width: 100%;
    height: 75px;
    border-radius: 100%;
}
.comment-card-texts-personnel{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    
}
.comment-card-texts-personnel p{
    max-width: 950px;
    text-align: start;
    overflow-wrap: break-word;
    word-break: break-all; 
    white-space: normal;
}
.creation-date-personnel{
    position: absolute;
    font-size: 13px;
    bottom: 6px;
    right: 6px;
}
.comment-card-texts-personnel-header-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
}

.comment-rating-div-personnel {
    width: 140px;
}