.my-company-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    height: 70vh;
    position: relative;
    left: 290px;
    top: 80px;
    text-align: center;
    padding-bottom: 5rem;
}
.my-company-container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-company-container-header h3{
    margin-left: 20px;
}
.my-company-container-header button{
    margin-right: 20px;
    
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.my-company-container-header button:hover{
    background-color: #2980b9;
}
.my-company-add-comment{
    display: flex;
    justify-content: center;
    align-items: center;
}