.recipe-card-div {
    display: flex;
    height: 14rem;
    flex-direction: row;
    border: 2px solid rgba(211, 189, 64, 0.822);
    border-radius: 2%;
    margin: 0.5rem;
    padding: 0.5rem;
    position: relative;
    
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    
        
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    

    /* Glassmorphism efekti */
    background-color: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.18); 
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); 
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}

.recipe-image-div {
    display: flex;
    width: 15rem;
    height: 100%;
}

.recipe-image-div img {
    max-width: 97%;
    object-fit: cover;
    /* mix-blend-mode: multiply; */
    border-radius: 0.25rem;
}

.recipe-details-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.recipe-description-div {
    justify-content: space-between
}

/* .recipe-description-div p:first-child {
    font-size: large;
    font-weight: 700;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

.recipe-description-div p:last-child {
    text-align: justify;
    font-size: medium;
    font-weight: 550;
    font-style: italic;
} */

.recipe-difficulty-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.25rem;
    height: 2rem;
    align-items: center;
}

.recipe-difficulty-div > p {
    font-size: 1rem;
    font-weight: 700;
    color: #36a794;
}

.button-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    /* gap: 0.25rem; */
    font-size: large;
}

.button-div img {
    width: 1rem;
}

.add-to-fav-div {
    cursor: pointer;
    display: flex;
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: #17b948;
    font-weight: 700;
    gap: 0.25rem;
}

.add-to-fav-div:hover {
    background-color: aquamarine;
    transition: 0.5s ease-in;
}

.remove-from-fav-div {
    cursor: pointer;
    display: flex;
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: #c00313;
    font-weight: 700;
    gap: 0.25rem;
}

.remove-from-fav-div:hover {
    background-color: rgba(173, 29, 53, 0.829);
    color: rgba(222, 245, 245, 0.87);
    transition: 0.5s ease-in;
}

.recipe-card-div:hover {
    transform: scale(1.05); 
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25); 
}
