/* ADMİN PAGE */
.admin-container {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  /* background-image: url("https://wallpapercave.com/wp/wp2508257.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover; */
}

.admin-container h2 {
  text-align: center;
}

.registered-users-container, 
.manager-requests-container {
  width: 45%;
}

.registered-users-container {
  order: 1;
}

.manager-requests-container {
  order: 2;
}

h2 {
  margin-bottom: 15px;
}

.registered-users, 
.manager-requests {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.registered-user, 
.manager-request {
  margin-bottom: 10px;
  background-color: #7f7f7f;
  padding: 10px;
}


