.admin-login-major-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.admin-login-message {
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    text-align: center;
}


.admin-login-message.show {
    opacity: 1;
    transform: translateY(0);
}

.admin-login-message.error {
    color: red;
}