.admin-login-major-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 950px;
    background-image: url(images\login-wall.jpg);
    background-position: center;
    background-size: cover;
}

.admin-login-message {
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    text-align: center;
}


.admin-login-message.show {
    opacity: 1;
    transform: translateY(0);
}

.admin-login-message.error {
    color: red;
}

.admin-login-button{
    color: white;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}



.admin-login-button:active {
    transform: scale(0.98);
}

.admin-login-username-input:focus, .admin-login-pwd-input:focus {
    box-shadow: 0 0 0 4px #555c63;
}

.admin-login-pwd-input, .admin-login-username-input{
    border-radius: 5px;
}