.personnel-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.5rem 2.5rem 0.5rem 2.5rem;
  /* background-image: linear-gradient(
    to top,
    #E4FFFA,
    #B6A6E0,
    #ecedf3,
    #f7f4f8
  ); */
  background-image: url("https://i.imgur.com/ZYCukO1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: fadeIn 0.75s ease-out forwards;
  height: 1080px;
}

.personnel-page-main{
  width: 70%;
  background-color: rgba(47, 241, 255, 0.116);
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
}

.personnel-page-main-section > h1:first-child {
  padding-top: 0.5rem;
}

.personnel-page-main-section > h1:first-child, h4 {
  text-align: center;
}

.personnel-page-main-section > h4 {
  margin-bottom: 0.5rem;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.personnel-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  width: 97%;
  margin-top: 2rem;
  background-color: rgba(172, 255, 47, 0.116);
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
}

.personnel-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
}

.personnel-photo > img {
  min-width: 80%;
  max-width: 80%;
  object-fit: cover;
  mix-blend-mode: multiply;
  border-radius: 2rem;
}

.personnel-info {
  position: relative;
  padding-top: 0.5rem;
  font-size: large;
}

.personnel-info > p{
  padding-bottom: 1rem;
}

.personnel-company-summary {
  color: rgb(10, 10, 10);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 2rem;
  height: 100%;
  top: 0;
  width: 30%;
  background-color: rgba(0, 255, 157, 0.425);
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
}

.personnel-company-summary > img{
  width: 60%;
  border: 2px solid black;
  border-radius: 2rem;
}

.personnel-company-info > h2{
  text-align: center;
}





/* .personnel-info {
  width: 80%;
} */

/* .personel-info,
.company-info,
.personel-photo {
  width: 80%;
}

.personel-info,
.company-info {
  background-color: #6a6969;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.personel-info h2,
.company-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.personel-info p,
.company-info p {
  margin-bottom: 5px;
}

.personel-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.personel-photo img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
} */
