/* Kayıt Sayfası */
.register-container {
  position: absolute;
  width: 300px;
  height: auto; /* Yükseklik otomatik olarak ayarlanacak */
  margin-top: 20px;
  margin-left: 80px;
  padding: 20px;
  border: 1px solid #767676;
  border-radius: 5px;
  background-color: #fbfbfb;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333; /* Metin rengi */
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"],
.register-container input[type="date"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-container textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  height: 100px; /* Başlangıçta belirli bir yükseklik */
  resize: none; /* Manuel büyütme kaldırıldı */
  max-height: 100px;
}


.register-container button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #45a049;
}

.role-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.role-selector label {
  margin-right: 10px;
  color: #333; /* Metin rengi */
}

.role-selector input[type="radio"] {
  margin-right: 5px;
}

/* Date Picker */
.register-container input[type="date"]::-webkit-calendar-picker-indicator {
  color: #333; /* Metin rengi */
}

/* Radio Buttons */
.role-selector input[type="radio"] {
  margin-right: 5px;
  color: #333; /* Metin rengi */
}

input.control::placeholder {
  color: #9f9d9e;
}
.strength {
  text-align: left;
  height: 30px;
  text-transform: capitalize;
  color: #868b94;
}
.bars {
  margin: 8px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 6px;
  border-radius: 3px;
  background: #181919;
}

.bars div {
  height: 6px;
  border-radius: 3px;
  transition: 0.4s;
  width: 0%;
}
.bars.weak div {
  background: #e24c71;
  width: 33.33%;
}
.bars.medium div {
  background: #f39845;
  width: 66.66%;
}
.bars.strong div {
  background: #57c558;
  width: 100%;
}



textarea::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #000000;
}

