/* Ana bileşenler */


.update-company-page {
  position: relative;
  left: 350px;
  top: 100px;
  display: flex;
  justify-content: center; 
  width: 850px;
  min-height: 1800px;
}
.sidebar {
  width: 180px;
  padding: 20px;
  background-color: #f9f9f9;
   /* Diğer öğelerin üstünde olması için gerektiğinde z-index'i ayarlayabilirsiniz */
  color: #fff;
  height: 380px;
  position: fixed;
  top: 50%;
  left: 300px; /* Sol tarafta başlayacak şekilde ayarlandı */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sidebar button {
  margin-bottom: 10px;
  padding: 15px; 
  border: none;
  background-color: #eeeeee;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; 
  max-width: 150px; 
  height: auto; 
  text-align: center; 
  font-size: 16px; 
  line-height: 1.5; 
  border-radius: 5px; 
}

.sidebar button:hover {
  background-color: #777;
}

.update-company-form {
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.company-name-header{
  padding: auto;
  border: 1px solid;
  border-color: #000000;
  border-radius: 5px;
  text-align: center;
  background: #a9abaa;
  color: white;
  font-size: 30px;
  
}




/* Form elementleri */
.company-core-info,
.hr-info-list-container,
.company-department-list-container,
.company-holiday-list-container,
.company-income-list-container,
.company-expense-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-bottom: 20px;
}

.company-core-info input {
  margin: 8px 0; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
  max-width: 60%; 
  box-sizing: border-box; 
  font-size: 16px; 
  line-height: 1.5; 
}



.company-core-info input,
.hr-info-container input,
.company-department-container input,
.company-holiday-container input,
.company-income-container input,
.company-expense-container input {
  margin: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}




/* Son düğmeler */
.last-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.last-buttons > button {
  font-size: 18px;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: transform 0.5s;
}

.last-buttons > button:first-child {
  background-color: #33c23a;
  color: #ffffff;
}

.last-buttons > button:last-child {
  background-color: #ad1d35;
  color: #def5f5;
}

.last-buttons > button:hover {
  transform: scale(1.05);
}

.buttonas {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.buttonas:before,
.buttonas:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.buttonas:before {
  border: 4px solid #696969;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.buttonas:after {
  border: 4px solid #96daf0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.buttonas:hover:before,
.buttonas:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.buttonas:hover:after,
.buttonas:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.buttonas-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.buttonas-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;

  transform: rotate(180deg);
  fill: #676667;
}
.buttonas {
  rotate: 180deg;
}

.buttonas:hover .buttonas-box,
.buttonas:focus .buttonas-box {
  transition: 0.5s;
  transform: translateX(-56px);
}


.holiday-duration {
  display: flex; /* Yatay olarak sıralamak için flexbox kullanın */
}

.react-datepicker-wrapper {
  margin-right: 10px; /* Tarih seçiciler arasında boşluk ekleyin */
}

.hr-gender-selector {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  padding-top: 5px;
}

.hr-gender-selector input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hr-gender-selector input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #0043ed;
  background-color: #dee7ff;
  z-index: 1;
  color: #0043ed;
}

.hr-gender-label span {
  top: 5px;
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.25em 0.5em; 
  position: relative;
  margin-left: 0.0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: 0.05em;
  color: #3e4963;
  text-align: center;
  transition: background-color 0.5s ease;
}

.hr-gender-label:first-child span {
  border-radius: 0.375em 0 0 0.375em;
}

.gender-label:last-child span {
  border-radius: 0 0.375em 0.375em 0;
}