.card{
    display: flex;
    padding: 20px;
    gap: 20px;
    background-color: #929292;
    border-radius: 5px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.623);
}
.card img{
    border-radius: 50%;
    width: 125px;
    height: 125px;
    /* mix-blend-mode: color */
}
.card-values{
    display: flex;
    width: 80%;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    text-align: start;
}
.card-values :nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-values :nth-child(1) p{
    font-weight: 600;
}
.card-values :nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-values :nth-child(2) p{
    font-weight: 600;
}