.rating-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.rating-container p {
    font-size: 14px;
    color: #00dfc4;
}
.star-input{
    display: none;
}
.stars{
    cursor: pointer;
}
.rating-stars{
    text-align: center;
}