.footer-container{
    width: 100%;
    height: 50px;
    padding-right: 50px;
    position: fixed;
    bottom: 0;
    z-index: 98;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid rgba(255, 255 255, 0.3);
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    color: #000;
}

.footer-container.dark{
    color: #fff;
}

.footer-left{
    position: absolute;
    left: 10%;
}

.footer-left button{
    border: none;
    background-color: transparent;
    font-size: larger;
    font-weight: 400;
    color: #000;
    padding-left: 50px ;
    &&:hover{
        cursor: pointer;
    }
}

.footer-link{
    color: #000;
    text-decoration: none;
}

.footer-container.dark, .footer-left.dark button, .footer-link.dark{
    color: #fff;
}