.personnel-day-off-page-container{
    width: 80%;
    position: relative;
    left: 300px;
    top: 100px;
    text-align: center;
    padding-bottom: 5rem;
}
.personnel-page-day-off-main{
  background-color: rgba(47, 241, 255, 0.116);
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.486);
}
.personnel-day-off-page-upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.personnel-day-off-page-upper strong{
    font-size: larger;
}

.personnel-day-off-page-bottom table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
}

.personnel-day-off-page-bottom th,
.personnel-day-off-page-bottom td {
  padding: 8px;
  text-align: center;
}


.personnel-day-off-page-bottom th {
  background-color: #f2f2f2;
}

.ACCEPTED{
    background-color: rgba(95, 190, 83, 0.801);
    height: 47px;
}

.ACCEPTED:hover{
    background-color: rgba(66, 221, 46, 0.801);
}

.CANCELLED{
  background-color: rgb(54, 104, 179);
  height: 47px;
}

.CANCELLED:hover{
  background-color: rgba(22, 92, 197, 0.918);
}

.DECLINED{
    background-color: rgba(190, 83, 83, 0.801);
    height: 47px;
}

.DECLINED:hover{
    background-color: rgba(233, 57, 57, 0.801);
}

.PENDING{
    background-color: rgba(199, 199, 38, 0.712);
    height: 47px;
}

.PENDING:hover{
    background-color: rgba(233, 233, 34, 0.712);
}

.cancel-day-off-request-button{
    background-color: rgba(83, 126, 190, 0.801);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-weight: 500;
    color: beige;
    &:hover{
        background-color: rgba(49, 123, 235, 0.801);
        scale: 1.2;
    }
}





.create_request_button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: black;
    transform: scale(0.9);
  }
  
  /* plus sign */
  .sign_create_request {
    width: 100%;
    font-size: 2em;
    color: white;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  /* text */
  .text_create_request {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .create_request_button:hover {
    width: 125px;
    border-radius: 0px;
    transition-duration: .3s;
  }
  
  .create_request_button:hover .sign_create_request {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .create_request_button:hover .text_create_request {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 20px;
  }
  /* button click effect*/
  .create_request_button:active {
    transform: translate(2px ,2px);
  }