* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

button:focus, input:focus{
  border: none;
}

.themeSlider {
  background-color: #c92828;
}

.light {
  background-color: #fdfdfd;
}

.dark {
  background-color: #333;
}

.loading-h1-tags {
  text-align: center;
}

.app-container{
  height: 100vh;
}