.side-bar-container{
    width: 250px;
    height: 87%;
    top: 63px;
    background-color: #1e488f;
    position: fixed;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: rgba(255, 255, 255, 0.2); */
    border: 1px solid rgba(255, 255 255, 0.3);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(3px);
    color: #ffffff;
}

.side-bar-upper-part{
    position: relative;
    top: 5%;
    display: flex;
    justify-content: center;
    gap: 3px;
    align-items: center;
    font-weight: 700;
    &&:hover{
        cursor: pointer;
    }
}

.side-bar-upper-part span{
    text-align: center;
}

.side-bar-upper-part img{
    width: 40px;
    height: 40px;
}

.side-bar-inner-body{
    position: relative;
    top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-bar-inner-body button, .side-bar-bottom-part button{
    border: 0 solid red;
    margin-top: 1px;
    background-color: transparent;
    font-size: larger;
    text-align: start;
    font-weight: 400;
    padding: 25px;
    width: 100%;
    color: #ffffff;
    transition: 0.5s;
    &&:hover{
        cursor: pointer;
        background-color: #13599fe6;
    }
}

.side-bar-upper-part button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    background-image: url(icons8-human-resources-64.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.side-bar-inner-second-body{
    width: 100%;
}

