.comment-card-div {
    display: flex;
    height: 10rem; /* Kartların istenen sabit yüksekliği */
    justify-content: space-between;
    width: 50rem;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    border: 1px solid rgba(211, 74, 64, 0.349);
    border-radius: 7px;
    margin: 0.5rem;
    padding: 0.7rem;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.comment-image-div {
    display: flex;
    justify-content: center;
    width: 27rem;
    height: 100%;
}

.comment-image-div img {
    max-width: 97%;
    object-fit: cover;
    mix-blend-mode: multiply;
    border-radius: 0.25rem;
}

.comment-details-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(100% - 13rem); /* Resmin genişliğini düşür */
    height: 100%;
    padding-left: 0.5rem; /* Sol padding ekle */
}

.comment-description-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    max-height: 6rem; /* Değişiklik: Metnin maksimum yüksekliği */
    overflow: hidden; /* Değişiklik: Taşan metni gizle */
}
.text-div{
    display: flex;
    gap: 7px;
}
.text-div p{
    font-size: 14px;
    text-align: start;
    word-wrap: break-word;
}
.comment-description-div.show-full {
    max-height: none; /* Değişiklik: Tüm metni göster */
}


.comment-difficulty-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.25rem;
    height: 2rem;
    align-items: center;
}

.comment-difficulty-div > p {
    font-size: 1rem;
    font-weight: 700;
    color: #36a794;
}

.comment-button-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: large;
}

.comment-button-div img {
    width: 1rem;
}

.comment-add-to-fav-div {
    cursor: pointer;
    display: flex;
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: #17b948;
    font-weight: 700;
    gap: 0.25rem;
}

.comment-add-to-fav-div:hover {
    background-color: aquamarine;
    transition: 0.3s ease-in;
}

.comment-remove-from-fav-div {
    cursor: pointer;
    display: flex;
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: #c00313;
    font-weight: 700;
    gap: 0.25rem;
}

.comment-remove-from-fav-div:hover {
    background-color: rgba(173, 29, 53, 0.829);
    color: rgba(222, 245, 245, 0.87);
    transition: 0.5s ease-in;
}

.read-more {
    cursor: pointer;
    transition: background-color 0.3s ease; /* Geçiş efekti: arkaplan rengi */
    width: 110px;
    border-radius: 2px;
    text-align: center;
}

.read-more:hover {
    background-color: lightgray; /* Fare üzerine gelindiğinde arkaplan rengini değiştir */
}
